header {
    background-color: var(--secundary-color);
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .header-text {
    font-size: 48px;
    font-weight: 400;
    color: var(--tertiary-color);
    font-family: "VT323";    
}

header a {
    font-size: 2em;
    color: white;
    text-decoration: none;
    transition: 0.2s ease-in-out;
}

header a:hover{
    color: #3498db;
}
