@media screen and (max-width: 768px) {

     header .header-text {
        font-size: 28px;
    }

    .main-content {
        display: block;
    }

    .main-text-received {
        width: 100%;
        margin: 4% 2%;
    }

    .form-button {
        width: 45%;
    }

    .main-text-cripto {
        width: 100%;
        margin: 2% 4%;

    }

    #text-cripto {
        margin: 2% 2%;
    }
}


@media screen and (max-width: 435px){


    .main-content {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .main-text-received {
        width: 95%;
    }

    .main-content-label {
        font-size: 0.8rem;
    }

    #form {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .form-button {
        width: 95%;
    }

    .gif-waiting {
        height: 200px;
    }


}