@media screen and (max-width: 768px) {
    .flex-container {
        display: block;
    }
    #text-received{
        width: 80vw;
        height: 80vw;
    }
    #text-cripto{
        display: flex;
        align-items: center;

        width: 90vw;
        min-height: 40vw;
        margin-left: 20px;
        height: 80%;
        overflow: hidden;
    }
    #text-cripto .img-searching{
        display: none;
    }
    p, h2{
        font-size: 1rem;
    }
    textarea::placeholder {
        font-size: 1.2rem;
    }

    #form {
        width: 130%;
        justify-content: space-between;
    }

    #form button{
        width: 400px;
    }

    #button_copy {
        width: 600px;
    }

    header h1 {
        font-size: 1.3rem;
    }

    footer p {
        font-size: 1rem;
    }
   
}

@media screen and (max-width: 930px) {
    .img-searching {
        width: 80%;
    }
}