:root {
    --primary-color:#E9ECF8;
    --secundary-color: #0A3871;
    --tertiary-color: #f6f6f6;

    --primary-font: "Inter", sans-serif;
}


body {
    background-color: var(--primary-color);
    font-family: var(--primary-font);
    box-sizing: border-box;
    width: 100%;
    overflow-y: hidden;
}

.flex-container {
    display: flex;  
    align-items: self-start;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
}

.column-container{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 4% 2%;
}

#text-received {
    width: 90%;
    height: 50vh;
    padding: 20px;
    font-size: 32px;
    background-color: var(--primary-color);

    border: solid 1px black;
    resize: none;
}

#form {
    margin-left: 0,5%;
    gap: 2rem;
    margin-top: 20px;

    display: flex;
}

.container-cripto {
    width: 30%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 2%;
}

#text-cripto {
    background-color: var(--tertiary-color);
    width: 90%;
    min-height: 75vh;
    max-height: 80vh;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-x: hidden;
    word-wrap: break-word;
    word-break: break-word;
}

#text-cripto p, h2 {
    padding: 10px 20px 10px 20px;
}

#text-cripto h2 {
    font-weight: bold;
}

.form-button {
    width: 300px;
    height: 60px;
    margin-bottom: 2%;
    cursor: pointer;
    
    border-radius: 15px;
    transition: 0.2s ease-in-out;
}

.form-button:hover {
    box-shadow: 0px 0px 6px var(--secundary-color);
}

#button-cripto {
    background-color: var(--secundary-color);
    color: var(--tertiary-color);
}

#button-descripto {
    background-color:var(--tertiary-color);
    color:var(--secundary-color) ;
    border: 1px solid var(--secundary-color);
}

#button-descripto:disabled {
    opacity: 0.6; 
    cursor: not-allowed; 
}

#button_copy {
    background-color: var(--tertiary-color);
    color: var(--secundary-color) ;
    border: 1px solid var(--secundary-color);
    position: relative;
    bottom: 10px; 
    left: 50%; 
    transform: translateX(-50%);
    justify-self: flex-end;
    min-height: 60px;
}

#img-searching {
    padding: 40px;
    width: auto;
    height: 50%;
}

textarea::placeholder {
    color: var(--secundary-color);
}

#p-text {
    color: #495057;
    font-size: 32px;
    
}

#msg-padrao {
    width: 100%;
    text-align: center;
}

label {
    margin-top: 2%;
    color: #495057;
}