@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
:root {
    --primary-color:#bfdbf7;
    --secundary-color: #3061e3;
    --tertiary-color: #E9ECF8;
    --quartiary-color: #000000;

    --primary-font: "VT323", sans-serif;
    --secundary-font: Helvetica, sans-serif;
}


body {
    background-color: var(--tertiary-color);
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    font-weight: 400;
}

.main-content {
    display: flex;  
    align-items: self-start;
    justify-content: space-between;
    width: 100%;
    height: 80vh;
}

.main-text-received{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 70%;
    margin: 4% 2%;
}

#text-received {
    width: 90%;
    height: 50vh;
    padding: 20px;
    font-size: 2.25rem;
    font-family: var(--primary-font);
    background-color: var(--tertiary-color);

    resize: none;
}

#text-received::placeholder {
    color: var(--quartiary-color);
    font-size: 2.25rem;
}

.main-content-label {
    margin-top: 2%;
    color: #495057;
    font-size: 1rem;
    font-family: var(--secundary-font);
}

#form {
    margin-left: 0,5%;
    gap: 2rem;
    margin-top: 20px;
    font-size: 1.15rem;
    font-family: var(--secundary-font);

    display: flex;
}

.form-button {
    width: 40%;
    height: 60px;
    margin-bottom: 2%;
    cursor: pointer;
    
    border-radius: 20px;
    transition: 0.2s ease-in-out;
}

.form-button:hover {
    box-shadow: 0px 0px 6px var(--secundary-color);
}

#button-cripto {
    background-color: var(--secundary-color);
    color: var(--tertiary-color);
}

#button-descripto {
    background-color:var(--tertiary-color);
    color:var(--secundary-color) ;
    border: 1px solid var(--secundary-color);
}

#button-descripto:disabled {
    opacity: 0.6; 
    cursor: not-allowed; 
}

.main-text-cripto {
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 2%;
}

#text-cripto {
    background-color: white;
    width: 90%;
    min-height: 75vh;
    max-height: 80vh;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-x: hidden;
    word-wrap: break-word;
    word-break: break-word;
}

#text-cripto p, h2 {
    padding: 10px 20px 10px 20px;
}

#text-cripto h2 {
    font-weight: bold;
}

#p-text {
    color: #495057;
    font-size: 2.25rem;
    font-family: var(--primary-font);
}

#msg-default{
    width: 100%;
    text-align: center;
    padding-bottom: 60px;
    font-size: 1.15rem;
    font-family: var(--secundary-font);
}

.gif-waiting {
    padding: 20px;
    width: auto;
    height: 300px;
}

#button_copy {
    background-color: white;
    color: var(--secundary-color) ;
    border: 1px solid var(--secundary-color);
    position: relative;
    bottom: 10px; 
    left: 50%; 
    transform: translateX(-50%);
    justify-self: flex-end;
    width: 80%;
    font-family: var(--secundary-font);
}